<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/clockIndex.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <title>打卡计划</title>
</head>

<body>
    <div class="wx_container">
        <img class="topBanner" src="/images/clock.png" alt="">
        <div class="top">
            <span class="title">她朵可</span>
            <div class="right">
                <span class="day colorOrange fontSize20">42天<span class="colorWhite fontSize16">打卡计划</span></span>
                <span class="fontSize10 colorGrey">初始体重：78公斤</span>
            </div>
        </div>
        <div class="group">
            <div class="title">
                <div class="left">
                    <img class="icon" src="/images/iconjifen.png" alt="" />
                    <span>98人已参加</span>
                </div>
                <a href="/checkClock" class="right">
                    <span class="colorWhite fontSize14">我的打卡记录</span>
                </a>
            </div>
            <div class="participant">
                <img class="person" src="/images/portrait.png" alt="" />
                <img class="person" src="/images/portrait.png" alt="" />
                <img class="person" src="/images/portrait.png" alt="" />
                <img class="person" src="/images/portrait.png" alt="" />
                <img class="person" src="/images/portrait.png" alt="" />
                <img class="person" src="/images/portrait.png" alt="" />
                <img class="person" src="/images/portrait.png" alt="" />
                <img class="person" src="/images/portrait.png" alt="" />
                <img class="person" src="/images/portrait.png" alt="" />
                <img class="person" src="/images/portrait.png" alt="" />
                <img class="person" src="/images/portrait.png" alt="" />
                <img class="person" src="/images/portrait.png" alt="" />
                <img class="person" src="/images/portrait.png" alt="" />
                <img class="person" src="/images/portrait.png" alt="" />
                <img class="person" src="/images/portrait.png" alt="" />
                <img class="person" src="/images/portrait.png" alt="" />
                <img class="person" src="/images/portrait.png" alt="" />
                <img class="person" src="/images/portrait.png" alt="" />
                <img class="person" src="/images/portrait.png" alt="" />
                <a href="/ranking"><img class="person" src="/images/more.png" alt="" /></a>
                <!-- <div class="more">
                    <span>更多排名</span>
                </div> -->
            </div>
        </div>
        <div class="explain">
            <span class="title">参与规则：</span>
            <span class="content fontSize12">
                您可以在此记录每天的体重变化情况，我们将对参与用户进行每天排名，以促进您的瘦身计划
            </span>
        </div>
        <div class="plan">
            <div class="title">
                <img class="icon" src="/images/iconjifen.png" alt="" />
                <span>计划列表</span>
            </div>
            <div class="content">
                <div class="day">
                    <a href="/addClock?day=1" class="one active">01</a>
                    <a href="/addClock?day=2" class="one active">02</a>
                    <a href="/addClock?day=3" class="one">03</a>
                    <a href="/addClock?day=4" class="one">04</a>
                    <a href="/addClock?day=5" class="one">05</a>
                    <a href="/addClock?day=6" class="one">06</a>
                </div>
                <div class="day">
                    <a href="/addClock?day=7" class="one">07</a>
                    <a href="/addClock?day=8" class="one">08</a>
                    <a href="/addClock?day=9" class="one">09</a>
                    <a href="/addClock?day=10" class="one">10</a>
                    <a href="/addClock?day=11" class="one">11</a>
                    <a href="/addClock?day=12" class="one">12</a>
                </div>
                <div class="day">
                    <a href="/addClock?day=13" class="one">13</a>
                    <a href="/addClock?day=14" class="one">14</a>
                    <a href="/addClock?day=15" class="one">15</a>
                    <a href="/addClock?day=16" class="one">16</a>
                    <a href="/addClock?day=17" class="one">17</a>
                    <a href="/addClock?day=18" class="one">18</a>
                </div>
                <div class="day">
                    <a href="/addClock?day=19" class="one">19</a>
                    <a href="/addClock?day=20" class="one">20</a>
                    <a href="/addClock?day=21" class="one">21</a>
                    <a href="/addClock?day=22" class="one">22</a>
                    <a href="/addClock?day=23" class="one">23</a>
                    <a href="/addClock?day=24" class="one">24</a>
                </div>
                <div class="day">
                    <a href="/addClock?day=25" class="one">25</a>
                    <a href="/addClock?day=26" class="one">26</a>
                    <a href="/addClock?day=27" class="one">27</a>
                    <a href="/addClock?day=28" class="one">28</a>
                    <a href="/addClock?day=29" class="one">29</a>
                    <a href="/addClock?day=30" class="one">30</a>
                </div>
                <div class="day">
                    <a href="/addClock?day=31" class="one">31</a>
                    <a href="/addClock?day=32" class="one">32</a>
                    <a href="/addClock?day=33" class="one">33</a>
                    <a href="/addClock?day=34" class="one">34</a>
                    <a href="/addClock?day=35" class="one">35</a>
                    <a href="/addClock?day=36" class="one">36</a>
                </div>
                <div class="day">
                    <a href="/addClock?day=37" class="one">37</a>
                    <a href="/addClock?day=38" class="one">38</a>
                    <a href="/addClock?day=39" class="one">39</a>
                    <a href="/addClock?day=40" class="one">40</a>
                    <a href="/addClock?day=41" class="one">41</a>
                    <a href="/addClock?day=42" class="one">42</a>
                </div>
            </div>
        </div>


        <div class="bottom">
            <img src="/images/logo.png" alt="" />
        </div>
    </div>
</body>

</html>