<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/myDistributor.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <title>个人中心</title>
</head>

<body>
    <div class="wx_container">
        <div class="section">
            <div class="left">
                <img class="icon" src="/images/iconshop.png" alt="" />
                <span class="userName paddingLeft">我的分销商</span>
            </div>
            <a href="/myOrder" class="right">
                <img class="rightArrow" src="/images/arrowdown.png" alt="" />
            </a>
        </div>
        <div class="tab fontSize10">
            <span class="active">一级（3）</span>
            <span>二级（5）</span>
            <span>三级（15）</span>
        </div>
        <div class="persons">
            <div class="person">
                <div class="avator">
                    <img src="/images/portrait.png" alt="">
                    <span>海鸥</span>
                </div>
                <div class="info fontSize14">
                    <span class="fontBolder">姓名：<span>吴敏</span></span>
                    <span class="fontBolder">城市：<span class="fontNormal">上海</span></span>
                    <span class="fontBolder">上级：<span class="fontNormal">张三</span></span>
                    <span class="fontBolder">日期：<span class="fontNormal">2018-01-10</span></span>
                </div>
            </div>
            <div class="person">
                <div class="avator">
                    <img src="/images/portrait.png" alt="">
                    <span>海鸥</span>
                </div>
                <div class="info fontSize14">
                    <span class="fontBolder">姓名：<span>吴敏</span></span>
                    <span class="fontBolder">城市：<span class="fontNormal">上海</span></span>
                    <span class="fontBolder">上级：<span class="fontNormal">张三</span></span>
                    <span class="fontBolder">日期：<span class="fontNormal">2018-01-10</span></span>
                </div>
            </div>
            <div class="person">
                <div class="avator">
                    <img src="/images/portrait.png" alt="">
                    <span>海鸥</span>
                </div>
                <div class="info fontSize14">
                    <span class="fontBolder">姓名：<span>吴敏</span></span>
                    <span class="fontBolder">城市：<span class="fontNormal">上海</span></span>
                    <span class="fontBolder">上级：<span class="fontNormal">张三</span></span>
                    <span class="fontBolder">日期：<span class="fontNormal">2018-01-10</span></span>
                </div>
            </div>
        </div>

        <div class="bottom">
            <img src="/images/logo.png" alt="" />
        </div>
    </div>
</body>

</html>