<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/qrcode.css">
    <title>扫一扫</title>
</head>

<body>
    <input value="<%=url%>" type="text" hidden/>
    <div id="qrcode" style="margin:0 auto"></div>
</body>
<script src="/javascripts/jquery-3.0.0.min.js"></script>
<script src="/javascripts/qrcode.min.js"></script>
<script>
    $(document).ready(function() {
        var url = $('input')[0].value;
        var qrcode = new QRCode("qrcode", {
            text: url,
            width: 256,
            height: 256,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H
        });
    });
</script>

</html>