body {
    background: #f6f6f6;
}

.wx_container {
    width: 100%;
    height: 100%;
    background: #f6f6f6;
}

.wx_container .topBanner {
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    z-index: -1;
}

.wx_container .top {
    display: flex;
    width: 100%;
    position: absolute;
    top: 20%;
}

.wx_container .top .title {
    font-size: 24px;
    background: white;
    padding: 2% 1%;
    width: 23%;
    text-align: center;
    font-weight: bold;
}

.wx_container .top .right {
    display: flex;
    flex-direction: column;
    padding-right: 6%;
    border: 1px solid white;
}

.wx_container .check .title {
    display: flex;
    align-items: center;
    padding: 3%;
}

.wx_container .check .title .icon {
    width: 6%;
    padding-right: 2%;
}

.wx_container .check .tables {
    background: white;
    padding-bottom: 60%;
}

.wx_container .check .tables table {
    width: 100%;
}

.wx_container .check .tables tr {
    text-align: center;
}

.wx_container .check .tables table th,
.wx_container .check .tables table td {
    /* border: 1px solid #f0f0f0; */
    font-weight: normal;
    padding: 1% 0;
}


/* .wx_container .check .tables .line {
    display: flex;
    justify-content: space-around;
} */


/* .wx_container .check .tables .line .three {
    width: 9%;
}

.wx_container .check .tables .line .two {
    width: 6%;
}

.wx_container .check .tables .line .four {
    width: 12%;
}

.wx_container .check .tables .line .six {
    width: 18%;
} */

.bottom {
    width: 100%;
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
}

.bottom img {
    padding-top: 3%;
}